<% layout('layout.ejs') -%>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <!-- Navbar content -->
   <div class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li>
         <a href="#">
           Messages
           <span class="navbar-unread">1</span>
         </a>
       </li>
       <li>
         <a href="#">
           About Us
           <span class="navbar-new">1</span>
         </a>
       </li>
     </ul>
   </div>
</nav>
