<% layout('layout.ejs') -%>
<form id="register-data">
    <div class="login-form">
        <div class="control-group">
            <input type="text" class="form-control" placeholder="姓名" name="userName" id="userName" />
        </div>
        <div class="control-group">
            <input type="password" class="form-control" placeholder="密码" name="password" id="password" />
        </div>
        <div class="control-group">
        <input type="text" class="form-control" placeholder="电话" name="phone" id="phone" />
        </div>
        <button id="btn_register" type="button" class="btn btn-primary btn-lg btn-block">注册</button>
        <a class="login-link" href="./login" >已有帐号</a>
    </div>
</form>

<script>
    $("#btn_register").click(function () {
        $.post('./register',
                $( "#register-data" ).serialize(),
                function (data) {
                    alert(data);
                    $(location).attr("href", "./login");
                }
        )
    });
</script>