<% layout('layout.ejs') -%>
    <div class="login-form">
        <div class="control-group">
            <input type="text" class="form-control" placeholder="邮箱" id="email" />
        </div>
        <button type="button" class="btn btn-primary btn-large btn-block" id="login">找回密码</button>
    </div>
